#menu <i class="fa fa-bars "></i>
header(id="overlay")
	.close-btn <i class="fa fa-times"></i>
	ul.main-nav
		li
			a(href="/") Home
		li
			a(href="/work") Work
		li
			a(href="/publication") Publication
		li
			a(href="/journal") Journal
		li
			a(href="/webdev") Web Development
		li
			a(href="/about") Biography
		li
			a(href="/music") Music