head
	title #{title}
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
	link(rel='stylesheet', href='/assets/css/application.css')
	// Custom Fonts
	link(<link href='https://fonts.googleapis.com/css?family=Roboto:400,700|Raleway:400,800|Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css')
	<base href="/">

