.container#box
	.wrapper
		img(src="/assets/img/sun.jpg" class="bg-2")
	form(name="contactForm" data-ng-submit="cf.sendMail()")
		.box-name
			label Name:
			<input ng-model="cf.contactName" required>
		.box-email
			label Email:
			<input type="email" ng-model="cf.contactEmail" required>
		.box-message
			label Message:
			<textarea ng-model="cf.contactMsg" columns="1" md-maxlength="150" required></textarea>
		<button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1': (contactForm.$dirty && contactForm.$valid) }"aria-label="Save Project">Send</button>
	footer
		p Stay Connected
		.social-box
			ul.footer-socials
				li
					a(href="#" target="_blank") <i class="fa fa-twitter "></i>
				li
					a(href="#" target="_blank") <i class="fa fa-instagram "></i>
				li
					a(href="#" target="_blank") <i class="fa fa-github-alt"></i>
				li
					a(href="#" target="_blank") <i class="fa fa-linkedin"></i>