.container#box
	.wrapper
		img(src="/assets/img/dragon-1.jpg" class="bg")
	h1.heading Oops. This page is not done yet
	footer
		p Stay Connected
		.social-box
			ul.footer-socials
				li
					a(href="#" target="_blank") <i class="fa fa-twitter "></i>
				li
					a(href="#" target="_blank") <i class="fa fa-instagram "></i>
				li
					a(href="#" target="_blank") <i class="fa fa-github-alt"></i>
				li
					a(href="#" target="_blank") <i class="fa fa-linkedin"></i>