div(ng-class="class")
	.wrapper
		img(src="/assets/img/dragon.jpg" class="bg")
		.main-text
			img(src="/assets/img/bg-text.png" class="main-img")
			p.med-text Get in Touch to Discuss Your Project
			a( class="buttonNav" href="mailto:carlosrafaelcolon@gmail.com" ) Contact
			.empty
	footer
		p Stay Connected
		.social-box
			ul.footer-socials
				li
					a(href="#" target="_blank") <i class="fa fa-twitter "></i>
				li
					a(href="#" target="_blank") <i class="fa fa-instagram "></i>
				li
					a(href="#" target="_blank") <i class="fa fa-github-alt"></i>
				li
					a(href="#" target="_blank") <i class="fa fa-linkedin"></i>