.container#box
	.wrapper
		img(src="/assets/img/dragon-2.jpg" class="bg-1")
	h1.title <span class="one">Freelance</span> <span class="two">NODE.JS</span> <span class="three">Developer</span>
	.text
		p Clear communication, visual engagement and simplicity are the pillars of my design process. I am both driven and self-motivated, and I am constantly experimenting with a strong focus on full-stack JavaScript web development.
	.code-block
		pre(class=" language-javascript")
			.code-block__caption // Here's a few things I work with at the moment...
			code(class=" language-javascript" data-language="javascript")
				
				.bracket
					span.token.punctuation [
				.line
					.split
						span.token.punctuation {
						span.token.string "thing"
						span(class="token punctuation comma") :
						span.token.string "NodeJS"
						span(class="token punctuation comma") ,
					.split
						span(class="token string break") "dailyInteraction"
						span(class="token punctuation ") :
						span(class="token number") 0.9
						span(class="token punctuation") }
						span(class="token punctuation comma") ,
				.line
					.split
						span.token.punctuation {
						span.token.string "thing"
						span(class="token punctuation comma") :
						span.token.string "Gulp"
						span(class="token punctuation comma") ,
					.split
						span(class="token string break") "dailyInteraction"
						span(class="token punctuation") :
						span(class="token number") 0.9
						span(class="token punctuation") }
						span(class="token punctuation comma") ,
				.line
					.split
						span.token.punctuation {
						span.token.string "thing"
						span(class="token punctuation comma") :
						span.token.string "Sass"
						span(class="token punctuation comma") ,
					.split
						span(class="token string break") "dailyInteraction"
						span(class="token punctuation ") :
						span(class="token number") 0.8
						span(class="token punctuation") }
						span(class="token punctuation comma") ,
				.line
					.split
						span.token.punctuation {
						span.token.string "thing"
						span(class="token punctuation comma") :
						span.token.string "JavaScript"
						span(class="token punctuation comma") ,
					.split
						span(class="token string break") "dailyInteraction"
						span(class="token punctuation ") :
						span(class="token number") 0.7
						span(class="token punctuation") }
						span(class="token punctuation comma") ,
				.line
					.split
						span.token.punctuation {
						span.token.string "thing"
						span(class="token punctuation comma") :
						span.token.string "JQuery"
						span(class="token punctuation comma") ,
					.split
						span(class="token string break") "dailyInteraction"
						span(class="token punctuation ") :
						span(class="token number") 0.6
						span(class="token punctuation") }
						span(class="token punctuation comma") ,
				.line
					.split
						span.token.punctuation {
						span.token.string "thing"
						span(class="token punctuation comma") :
						span.token.string "AngularJS"
						span(class="token punctuation comma") ,
					.split
						span(class="token string break") "dailyInteraction"
						span(class="token punctuation") :
						span(class="token number") 0.5
						span(class="token punctuation") }
				
				.bracket
					span(class="token punctuation") ]
	footer
		p Stay Connected
		.social-box
			ul.footer-socials
				li
					a(href="#" target="_blank") <i class="fa fa-twitter "></i>
				li
					a(href="#" target="_blank") <i class="fa fa-instagram "></i>
				li
					a(href="#" target="_blank") <i class="fa fa-github-alt"></i>
				li
					a(href="#" target="_blank") <i class="fa fa-linkedin"></i>