.container#box
	.wrapper
		img(src="/assets/img/dragon-1.jpg" class="bg")
	h1.name Recent <span>Works</span>
	.work-gallery
		.work-container
			.photo
				img(src="/assets/img/dragon-2.jpg" )
				.photo-overlay
					h3 Wonyae
					p Artist
				a(href="#").view-btn
					h4 View Case Study
				a(href="#").photo-tag
					h4 Node.js, Angular.js, Jquery
		.work-container
			.photo
				img(src="/assets/img/dragon-3.jpg" )
				.photo-overlay
					h3 Wonyae
					p Artist
				a(href="#").view-btn
					h4 View Case Study
				a(href="#").photo-tag
					h4 Node.js, Angular.js, Jquery
	footer
		p Stay Connected
		.social-box
			ul.footer-socials
				li
					a(href="#" target="_blank") <i class="fa fa-twitter "></i>
				li
					a(href="#" target="_blank") <i class="fa fa-instagram "></i>
				li
					a(href="#" target="_blank") <i class="fa fa-github-alt"></i>
				li
					a(href="#" target="_blank") <i class="fa fa-linkedin"></i>